body{
    max-width: 1200px;
    margin: 0 auto;
    background: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav-container{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav-links li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.nav-links{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    align-items: center;
}
.nav-register{
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
}
.nav-register h2{
    font-weight: 100;
}
.get_started_button_1{
    border: 2px solid white;
    padding: 15px;
    border-radius: 15px;
}
.main-content{
    display: flex;
    margin-top: 30px;
    
}
.herobox{
    width: 500px;
    overflow-wrap: break-word;
}
.man-img img{
    width: 523px;
    height: 700px;
}
.get_started_button_2{
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 24px;
	margin: 0 15px 15px 0;
	border-radius: 3px;
	height: 37px;
	line-height: 37px;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	background-color: yellowgreen;
	cursor: pointer;
}
.herobox-header h2{
    font-size: 40px;
    margin-top: -5px;
}
.herobox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.herobox-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.herobox-footer__nav img{
    width: 50px;
    height: 50px;
}
.herobox-footer__nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.herobox-footer p{
    font-size: 12px;
    margin-bottom: 30px;
}
.herobox-header__buttons{
    margin-top: 30px;
}